{% extends 'base.html' %}
{% block cuerpo %}
        <form action='/editarProveedor/' method='POST' name='editarProveedor' id='editarProveedor'>  
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <!--Header-->
                <div class="card-header">
                    <h3 class="text-center font-weight-light my-4">Calificar Producto</h3>
                </div>
                <!-- Body -->
                <div class="card-body">
                    <!--inputs (textfiels, checkboxs, etc)-->
                    <div class="form-floating mb-3">
                        {{form.eanTxt(class="form-control", placeholder="EAN")}}
                        {{form.eanTxt.label}}
                    </div>
                    <div class="form-floating mb-3">
                        {{form.nombreTxt(class="form-control", placeholder="Nombre")}}
                        {{form.nombreTxt.label}}
                    </div>
                    <div class="form-floating mb-3">
                        <div class="form-control">
                            {% for subfield in form.puntajeRbt %}
                            <tr>
                                <td>{{ subfield }}</td>
                                <td>{{ subfield.label }}</td>
                            </tr>
                        {% endfor %}
                        </div>
                        {{form.puntajeRbt.label}}   
                        <!-- {{form.puntajeRbt(class="form-control", style="height: 8rem;", placeholder="Puntaje")}} -->
                            
                    </div>
                    <div class="form-floating mb-3">
                        {{form.comentarioTxt(class="form-control textarea.form-control-lg", style="height: 10rem;", placeholder="Comentario")}}
                        {{form.comentarioTxt.label}}
                    </div>
                    <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                        <!--este <a> es relleno-->
                        <a class="small" href="#"></a>
                        <!--boton de envio-->
                        <div>
                            {{form.agregarBtn(class="btn btn-primary")}}
                            {{form.cancelarBtn(class="btn btn-primary", type="button", onclick="location.href='/home/'")}}
                        </div>
                    </div>
                </div>
                <!--Footer-->
                <div class="card-footer text-center py-3">
                    <div class="small"><a href="#"> </a></div>
                </div>
            </div>  
        </form>
{% endblock %}