{% extends 'base.html' %}
{% block cuerpo %}
        <form action='/visualizarUsuario/' method='POST' name='visualizarUsuario' id='visualizarUsuario'>  
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <!--Header-->
                <div class="card-header">
                    <h3 class="text-center font-weight-light my-4">Visualizar Datos del Usuario</h3>
                </div>
                <!-- Body -->
                <div class="card-body">
                    <!--inputs (textfiels, checkboxs, etc)-->
                    <div class="form-floating mb-3">
                        {{form.tdocumentoCmb(class="form-control", placeholder="Tipo de Documento")}}
                        {{form.tdocumentoCmb.label}}
                    </div>
                    <div class="form-floating mb-3">
                        {{form.numerodocTxt(class="form-control", placeholder="Número de Documento")}}
                        {{form.numerodocTxt.label}}
                    </div>
                    <div class="form-floating mb-3">
                        {{form.nombresTxt(class="form-control", placeholder="Nombres")}}
                        {{form.nombresTxt.label}}
                    </div>
                    <div class="form-floating mb-3">
                        {{form.apellidosTxt(class="form-control", placeholder="Apellidos")}}
                        {{form.apellidosTxt.label}}
                    </div>
                    <div class="form-floating mb-3">
                        {{form.fechaNacCmb(class="form-control", placeholder="Fecha de Nacimiento")}}
                        {{form.fechaNacCmb.label}}
                    </div>
                    <div class="form-floating mb-3">
                        {{form.direccionTxt(class="form-control", placeholder="Dirección")}}
                        {{form.direccionTxt.label}}
                    </div>
                    <div class="form-floating mb-3">
                        {{form.telefonoTxt(class="form-control", placeholder="Teléfono")}}
                        {{form.telefonoTxt.label}}
                    </div>
                    <div class="form-floating mb-3">
                        {{form.emailTxt(class="form-control", placeholder="E-mail")}}
                        {{form.emailTxt.label}}
                    </div>
                    <div class="form-floating mb-3">
                        <a class="small" href="#"></a>
                        {{form.rolCmb(class="form-control", placeholder="Rol")}}
                        {{form.rolCmb.label}}
                    </div>
                    <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                        <!--este <a> es relleno-->
                        <a class="small" href="#"></a>
                        <!--boton de envio-->
                        <div>
                            {{form.editarBtn(class="btn btn-primary", type="button", onclick="location.href='/editarUsuario/'")}}
                            {{form.cancelarBtn(class="btn btn-primary", type="button", onclick="location.href='/gestionarUsuarios/'")}}
                        </div>
                    </div>
                </div>
                <!--Footer-->
                <div class="card-footer text-center py-3">
                    <div class="small"><a href="#"> </a></div>
                </div>
            </div>  
        </form>
{% endblock %}