{% extends 'base.html' %}
{% block cuerpo %}
    <form action="/cambiarContrasena/" method="POST" name="cambiarContrasena">
    {% if 'logged' in session %}
        <div class="card shadow-lg border-0 rounded-lg mt-5">
            <!--titulo-->
            <div class="card-header"><h3 class="text-center font-weight-light my-4">Cambiar Contraseña</h3></div>
                <div class="card-body">
                    <!--inputs (textfiels, checkboxs, etc)-->
                    <div class="form-floating mb-3">
                    <input class="form-control" name="nameTxt" id="inputName" type="text" placeholder="name" value="{{name}}"/>
                    <label for="inputName">Nombre de Usuario</label>
                    </div>
                    <div class="form-floating mb-3">
                    <input class="form-control" name="mailTxt" id="inputMail" type="email" placeholder="name@example.com" value="{{mail}}"/>
                    <label for="inputMail">Email</label>
                    </div>
                    <div class="form-floating mb-3">
                    <input class="form-control" name="passwordTxt" id="inputPassword" type="password" placeholder="name@example.com" minlength="6" />
                    <label for="inputPassword">Contraseña Actual</label>
                    </div>
                    <div class="form-floating mb-3">
                    <input class="form-control" name="newpasswordTxt" id="inputNewpassword" type="password" placeholder="name@example.com" minlength="6" />
                    <label for="inputNewpassword">Nueva Contraseña</label>
                    </div>
                    <div class="form-floating mb-3">
                    <input class="form-control" name="newpasswordTxt2" id="inputNewpassword2" type="password" placeholder="name@example.com" minlength="6" />
                    <label for="inputNewpassword1">Confirmar Nueva Contraseña</label>
                    </div>
                    <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                    <!--este <a> es relleno-->
                    <a class="small" href="#"></a>
                    <a class="small" href="#"></a>
                    <a class="small" href="#"></a>
                    <a class="small" href="#"></a>
                    <a class="small" href="#"></a>
                    <a class="small" href="#"></a>
                    <a class="small" href="#"></a>
                    <a class="small" href="#"></a>
                    <!--boton de envio-->
                    <div>
                        <input type="submit" class="btn btn-primary" value="Cambiar" onclick="location.href='/cambiarContrasena/'"/>
                        <input type="button" class="btn btn-primary" value="Cancelar" onclick="location.href='/home/'"/>
                    </div>                    
                    </div>
            </div>
            <div class="card-footer text-center py-3">
                <!--este <a> es relleno-->
                <div class="small"><a href="#"> </a></div>
                <a class="small" href="#">{{error}}</a>
            </div>
        </div>
    {% else %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="text-center mt-4">
                    <h1 class="display-1">401</h1>
                    <p class="lead">Unauthorized</p>
                    <p>Access to this resource is denied.</p>
                    <a href="/index/">
                        <i class="fas fa-arrow-left me-1"></i>
                        Return to Dashboard
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
        </form>
{% endblock %}