{% extends 'base.html' %}
{% block cuerpo %}
        <form action='/gestionarProductos/' method='POST' name='gestionarProductos' id='crearProductos'>
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <!--Header-->
                <div class="card-header">
                    <h3 class="text-center font-weight-light my-4">Gestionar Productos</h3>
                </div>
                <!-- Body -->
                <div class="card-body">
                    <!--inputs (textfiels, checkboxs, etc)-->
                    <div class="form-floating mb-3">
                        <table id="datatablesSimple">
                            <thead>
                                <tr>
                                    <th>Número</th>
                                    <th>Ean</th>
                                    <th>Nombre</th>
                                    <th>Marca</th>
                                    <th>Modelo</th>
                                    <th>Año</th>
                                    <th>Acciones</th>      
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Número</th>
                                    <th>Ean</th>
                                    <th>Nombre</th>
                                    <th>Marca</th>
                                    <th>Modelo</th>
                                    <th>Año</th>
                                    <th>Acciones</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>77000054899655</td>
                                    <td>Automóvil eléctrico MS</td>
                                    <td>Tesla</td>
                                    <td>Model S</td>
                                    <td>2019</td>                                    
                                    <td><ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                                <li><a class="dropdown-item" href="/visualizarProducto/">Ver</a></li>
                                                {% if 'usr_id' in session %}
                                                    <li><a class="dropdown-item" href="/editarProducto/">Editar</a></li>
                                                    <li><a class="dropdown-item" onclick="location.href='/gestionarProductos/'">Eliminar</a></li>
                                                {% endif %} 
                                            </ul>
                                        </li>
                                    </ul></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>77000054899654</td>
                                    <td>Automóvil eléctrico M3</td>
                                    <td>Tesla</td>
                                    <td>Model 3</td>
                                    <td>2019</td>   
                                    <td><ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                                <li><a class="dropdown-item" href="/visualizarProducto/">Ver</a></li>
                                                {% if 'usr_id' in session %}
                                                    <li><a class="dropdown-item" href="/editarProducto/">Editar</a></li>
                                                    <li><a class="dropdown-item" onclick="location.href='/gestionarProductos/'">Eliminar</a></li>
                                                {% endif %} 
                                            </ul>
                                        </li>
                                    </ul></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>77000054899653</td>
                                    <td>Automóvil eléctrico MX</td>
                                    <td>Tesla</td>
                                    <td>Model X</td>
                                    <td>2019</td>  
                                    <td><ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                                <li><a class="dropdown-item" href="/visualizarProducto/">Ver</a></li>
                                                {% if 'usr_id' in session %}
                                                    <li><a class="dropdown-item" href="/editarProducto/">Editar</a></li>
                                                    <li><a class="dropdown-item" onclick="location.href='/gestionarProductos/'">Eliminar</a></li>
                                                {% endif %} 
                                            </ul>
                                        </li>
                                    </ul></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>77000054899652</td>
                                    <td>Automóvil eléctrico MY</td>
                                    <td>Tesla</td>
                                    <td>Model Y</td>
                                    <td>2019</td>  
                                    <td><ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                                <li><a class="dropdown-item" href="/visualizarProducto/">Ver</a></li>
                                                {% if 'usr_id' in session %}
                                                    <li><a class="dropdown-item" href="/editarProducto/">Editar</a></li>
                                                    <li><a class="dropdown-item" onclick="location.href='/gestionarProductos/'">Eliminar</a></li>
                                                {% endif %} 
                                            </ul>
                                        </li>
                                    </ul></td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                        <!--este <a> es relleno-->
                        <a class="small" href="#"></a>
                        <!--boton de envio-->

                    </div>
                </div>
                <!--Footer-->
                <div class="card-footer text-center py-3">
                    <div class="small"><a href="#"> </a></div>
                </div>
            </div> 

        </form>
{% endblock %}